		<!-- wraper_footer -->
		<footer class="wraper_footer style-two">
			<!-- wraper_footer_main -->
		<div class="wraper_footer_main">
			<div class="container">
				<br />
				<!-- row -->
				<div class="row footer_main">
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"><div class="footer_main_item matchHeight">
		<section id="media_image-1" class="widget widget_media_image"><img width="230" height="76" src="/public/images/judcred-white.svg" class="image wp-image-8623  attachment-full size-full" alt="" decoding="async" loading="lazy" style="max-width: 80px !important;" /></section><section id="custom_html-2" class="widget_text widget widget_custom_html"><div class="textwidget custom-html-widget"><p style="color:rgba(255,255,255,1);">
	<b style="color:rgba(255,255,255,1);">Cooperativa de Economia e Crédito Mútuo dos Funcionários do Poder Judiciário de SP</b>
	</p><p style="color:rgba(255,255,255,0.5); margin-bottom: 0px; margin: 0 0 0px;">Acreditamos no cooperativismo e no melhor para nossos cooperados.
	</p></div></section></div>
										 </div>
							  <br />           
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
	<div class="footer_main_item matchHeight">
	<section id="nav_menu-3" class="widget widget_nav_menu">
	<h5 class="widget-title" style="color:rgba(255,255,255,1) !important; ">Mapa do site</h5>
	
	<div class="menu-company-menu-container">
	<ul id="menu-company-menu" class="menu rt-mega-menu-transition-default">
	<li id="menu-item-8975" class="menu-item menu-item-type-post_type menu-item-object-page menu-flyout rt-mega-menu-hover item-8976"><a  href="/quem-somos"><p style="color:rgba(255,255,255,0.5); margin-bottom: 0px; margin: 0 0 0px;">Quem somos</p></a></li>
	<li id="menu-item-8977" class="menu-item menu-item-type-post_type menu-item-object-page menu-flyout rt-mega-menu-hover item-8977"><a  href="/linha-de-credito"><p style="color:rgba(255,255,255,0.5); margin-bottom: 0px; margin: 0 0 0px;">Créditos</p></a></li>
	<li id="menu-item-8978" class="menu-item menu-item-type-post_type menu-item-object-page menu-flyout rt-mega-menu-hover item-8978"><a  href="/vantagens-beneficios"><p style="color:rgba(255,255,255,0.5); margin-bottom: 0px; margin: 0 0 0px;">Vantagens &#038; Benefícios</p></a></li>
	</ul></div></section></div>
	</div>
	
	<div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
	<div class="footer_main_item matchHeight">
	<section id="nav_menu-4" class="widget widget_nav_menu">
	<h5 class="widget-title">&nbsp;</h5>
	<div class="menu-footer-menu-container">
	<ul id="menu-footer-menu" class="menu rt-mega-menu-transition-default">
	<li id="menu-item-8982" class="menu-item menu-item-type-post_type menu-item-object-page menu-flyout rt-mega-menu-hover item-8982"><a  href="/scr"><p style="color:rgba(255,255,255,0.5); margin-bottom: 0px; margin: 0 0 0px;">SCR</p></a></li>
	<li id="menu-item-8985" class="menu-item menu-item-type-post_type menu-item-object-page menu-flyout rt-mega-menu-hover item-8985"><a  href="/downloads"><p style="color:rgba(255,255,255,0.5); margin-bottom: 0px; margin: 0 0 0px;">Downloads</p></a></li>
	<li id="menu-item-9457" class="menu-item menu-item-type-post_type menu-item-object-page menu-flyout rt-mega-menu-hover item-9457"><a  href="/lgpd"><p style="color:rgba(255,255,255,0.5); margin-bottom: 0px; margin: 0 0 0px;">LGPD</p></a></li>
	</ul></div></section></div>
										 </div>
										 
										 
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<div class="footer_main_item matchHeight">
	<section id="radiantthemes_contact_box_widget-1" class="widget widget_radiantthemes_contact_box_widget">
	<h5 class="widget-title" style="color:rgba(255,255,255,1) !important;">Entre em contato</h5>
	<ul class="contact">
	<li class="phone" style="color:rgba(255,255,255,0.5);">
	(11) 3107-7744
	</li>
	<li class="email" style="color:rgba(255,255,255,0.5);">
	contato@judcredcoop.com.br
	</li>
	</ul>
	</section>
	
	<section id="custom_html-3" class="widget_text widget widget_custom_html">
	<div class="textwidget custom-html-widget"><p style="color:rgba(255,255,255,0.5);">
	Rua Quinze de novembro, 200 <br> 20º andar - Centro - São Paulo/SP CEP - 01013-000                         
	</p>
	</div>
	</section>
	</div>
	</div>
	</div>
				<!-- row -->
			</div>
		</div>
		<br />
		<!-- wraper_footer_main -->
				<!-- wraper_footer_copyright -->
		<div class="wraper_footer_copyright">
			<div class="container" style="border-top: rgba(255,255,255,0.5)solid 0.1px !important; width: 100%;">
				<!-- row -->
				<div class="row footer_copyright"> 
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<!-- footer_copyright_item -->
						 
						<div class="footer_copyright_item text-center">
						<p></p><p style="color:rgba(255,255,255,1) !important; font-family: Muli;line-height: 26px; font-weight: 400; font-style: normal; font-size: 14px;">Judcred © 2023 - Todos os direitos reservados - <a href="https://www.nca-assessoria.com.br" target="_blank" style="color:rgba(255,255,255,1) !important;"><b>NCA Assessoria</b></a></p>
						</div>
						<!-- footer_copyright_item -->
					</div>
	
				</div>
				<!-- row -->
			</div>
		</div>
		<!-- wraper_footer_copyright -->
	</footer>
	<!-- wraper_footer -->
	
		</div>
		<!-- radiantthemes-website-layout -->
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:600%7CRoboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
	<link rel='stylesheet' id='vc_animate-css-css' href='/public/css/animate.min.css' type='text/css' media='all' />
	<link rel='stylesheet' id='radiantthemes-custom-button-css' href='/public/css/radiantthemes-custom-button.css' type='text/css' media='all' />
	<link rel='stylesheet' id='icofont-css' href='/public/css/icofont.min.css' type='text/css' media='all' />
	<link rel='stylesheet' id='radiantthemes_tabs_five-css' href='/public/css/radiantthemes-tab-element-five.css' type='text/css' media='all' />
	
	<script type='text/javascript' src='/public/js/jarallax.min.js' id='jarallax-js'></script>
	<script type='text/javascript' src='/public/js/jarallax-video.min.js' id='jarallax-video-js'></script>
	<script type='text/javascript' src='/public/js/awb.min.js' id='nk-awb-js'></script>
	<script type='text/javascript' src='/public/js/rt-megamenu.js' id='rt-megamenu-front-end-js-js'></script>
	<script type='text/javascript' src='/public/js/bootstrap.min.js' id='bootstrap-js'></script>
	<script type='text/javascript' src='/public/js/jquery.sidr.min.js' id='sidr-js'></script>
	<script type='text/javascript' src='/public/js/jquery.matchHeight-min.js' id='matchHeight-js'></script>
	<script type='text/javascript' src='/public/js/wow.min.js' id='wow-js'></script>
	<script type='text/javascript' src='/public/js/jquery.nicescroll.min.js' id='nicescroll-js'></script>
	<script type='text/javascript' src='/public/js/jquery.sticky.min.js' id='sticky-js'></script>
	<script type='text/javascript' src='/public/js/isotope.pkgd.min.js' id='isotope-js'></script>
	<script type='text/javascript' src='/public/js/radiantthemes-custom.js' id='radiantthemes-custom-js'></script>
	<script type='text/javascript' src='/public/js/regenerator-runtime.min.js' id='regenerator-runtime-js'></script>
	<script type='text/javascript' src='/public/js/wp-polyfill.min.js' id='wp-polyfill-js'></script>
	<script type='text/javascript' src='/public/js/js_composer_front.min.js' id='wpb_composer_front_js-js'></script>
	<script type='text/javascript' src='/public/js/vc-waypoints.min.js' id='vc_waypoints-js'></script>
	<script type='text/javascript' src='/public/js/radiantthemes-tab-element-five.js' id='radiantthemes_tabs_script_five-js'></script>
	<script type='text/javascript' src='/public/js/radiantthemes-tab-element-twelve.js' id='radiantthemes_tabs_script_twelve-js'></script>
	<script type='text/javascript' src='/public/js/Chart.min.js?ver=6.5.0' id='ChartJS-js'></script>
	<script type='text/javascript' src='/public/js/vc_round_chart.min.js?ver=6.5.0' id='vc_round_chart-js'></script>
	<script type='text/javascript' src='/public/js/radiantthemes-accordion-element-two.js?ver=8dfd44f41a5de5ede24e8a30a7a74bb5' id='radiantthemes_accordion_script_two-js'></script>


	</body>
	</html>