<%- include('partials/header.html') %>
	
									<!-- wraper_header_bannerinner -->
								<div class="wraper_inner_banner">
									<!-- wraper_inner_banner_main -->
				<div class="wraper_inner_banner_main">
					<div class="container">
						<!-- row -->
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<!-- inner_banner_main -->
								<div class="inner_banner_main">
																											<p class="title">
											Downloads									</p>
																																		</div>
								<!-- inner_banner_main -->
							</div>
						</div>
						<!-- row -->
					</div>
				</div>
				<!-- wraper_inner_banner_main -->
										<!-- wraper_inner_banner_breadcrumb -->
				<div class="wraper_inner_banner_breadcrumb">
					<div class="container">
						<!-- row -->
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<!-- inner_banner_breadcrumb -->
								<div class="inner_banner_breadcrumb">
									<div id="crumbs"><a href="/">Início</a> <span class="gap"><i class="el el-chevron-right"></i></span> <span class="current">Downloads</span></div>							</div>
								<!-- inner_banner_breadcrumb -->
							</div>
						</div>
						<!-- row -->
					</div>
				</div>
				<!-- wraper_inner_banner_breadcrumb -->
						</div>
			<!-- wraper_header_bannerinner -->
	<!-- wraper_header_bannerinner -->
	
	
		<!-- #page -->
		<div id="page" class="site">
			<!-- #content -->
			<div id="content" class="site-content">
<br /><br />
	<div id="primary" class="content-area">
		<main id="main" class="site-main">
							<div class="container page-container">
					
<article id="post-8845" class="post-8845 page type-page status-publish hentry">
	<header class="entry-header">
			</header><!-- .entry-header -->
	<div class="entry-content">
		<section id="downloads_pagina" data-vc-full-width="true" data-vc-full-width-init="false" class="vc_section vc_custom_1608527416746"><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1608530799269"><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<h3 class="titulo_home">Arquivos disponíveis para download</h3>

		</div>
	</div>
	
<!-- radiantthemes-separator --><div  class="radiantthemes-separator element-one text-left "><div class="radiantthemes-separator-block" style="width: 30px ; height: 5px ; background-color: #0d3d73 ;"></div></div><!-- radiantthemes-separator -->
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper"><br />
			<p style="text-align: left;">Abaixo você pode fazer o download de todos os arquivos e formulários da Judcred que você necessita!</p>

		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey">
				<img width="360" height="228" src="/public/images/foto_download.png" class="vc_single_image-img attachment-full" alt="" decoding="async" loading="lazy" srcset="/public/images/foto_download.png 360w, /public/images/foto_download-300x190.png 300w" sizes="(max-width: 360px) 100vw, 360px" /></div>
		</figure>
	</div>
</div></div></div></div>
<div class="vc_row-full-width vc_clearfix"></div>
<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1608530863894 vc_row-o-equal-height vc_row-o-content-top vc_row-flex">
<div class="wpb_column vc_column_container vc_col-sm-12">
<div class="vc_column-inner">
<div class="wpb_wrapper">
<div class="rt-tab element-twelve rt2147163661" >
<ul class="nav-tabs">
<li data-tab-icon=false class="matchHeight">
<a data-toggle="tab" href="#a19c8248-ceb0-5">
<span>Regulamentos</span></a></li>
<li data-tab-icon=false class="matchHeight">
<a data-toggle="tab" href="#4056b1a7-e901-6">
<span>Políticas</span></a></li>
</ul>

<div class="tab-content">
<div id="a19c8248-ceb0-5" class="tab-pane fade">
<a class="downloads_botao" href="#" target="_blank" rel="noopener">
<i class="fa fa-download" aria-hidden="true"></i> Estatuto Social</a>

</div>
<div id="4056b1a7-e901-6" class="tab-pane fade">
	<a class="downloads_botao" href="#" target="_blank" rel="noopener">
		<i class="fa fa-download" aria-hidden="true"></i> Política de Crédito</a>
	
	</div>
	
</div></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div></section><div class="vc_row-full-width vc_clearfix"></div>
	</div><!-- .entry-content -->
</article><!-- #post-8845 -->
				</div>
					</main><!-- #main -->
	</div><!-- #primary -->


			</div>
			<!-- #content -->
		</div>
		<!-- #page -->
<br />
<br />
<br />
<br />
<br />
<br />
<br />




			<%- include('partials/footer.html') %>