<%- include('partials/header.html') %>
	
									<!-- wraper_header_bannerinner -->
								<div class="wraper_inner_banner">
									<!-- wraper_inner_banner_main -->
				<div class="wraper_inner_banner_main">
					<div class="container">
						<!-- row -->
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<!-- inner_banner_main -->
								<div class="inner_banner_main">
																											<p class="title">
											Empréstimo Consignado									</p>
																																		</div>
								<!-- inner_banner_main -->
							</div>
						</div>
						<!-- row -->
					</div>
				</div>
				<!-- wraper_inner_banner_main -->
										<!-- wraper_inner_banner_breadcrumb -->
				<div class="wraper_inner_banner_breadcrumb">
					<div class="container">
						<!-- row -->
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<!-- inner_banner_breadcrumb -->
								<div class="inner_banner_breadcrumb">
									<div id="crumbs"><a href="/">Início</a> <span class="gap"><i class="el el-chevron-right"></i></span> <span class="current">Empréstimo Consignado</span></div>							</div>
								<!-- inner_banner_breadcrumb -->
							</div>
						</div>
						<!-- row -->
					</div>
				</div>
				<!-- wraper_inner_banner_breadcrumb -->
						</div>
			<!-- wraper_header_bannerinner -->
	<!-- wraper_header_bannerinner -->
	
	
			<!-- #page -->
		<div id="page" class="site">
			<!-- #content -->
			<div id="content" class="site-content">

	<div id="primary" class="content-area">
		<main id="main" class="site-main">
							<div class="container page-container">
					
<article id="post-8768" class="post-8768 page type-page status-publish hentry">
	<header class="entry-header">
			</header><!-- .entry-header -->
	<div class="entry-content">
		<section id="creditos2" data-vc-full-width="true" data-vc-full-width-init="false" class="vc_section vc_custom_1608347723585"><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1608407315325 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner vc_custom_1538802180956"><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1608352358754 vc_row-o-equal-height vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner vc_custom_1538802162295"><div class="wpb_wrapper"><h2 style="font-size: 50px;color: #19182a;line-height: 50px;text-align: center" class="vc_custom_heading font-weight-bold letter-spacing--1 vc_custom_1608520466103" >Crédito eficiente e garantido</h2>
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<p style="text-align: center;">Soluções tranquilas para alcançar grandes objetivos.</p>

		</div>
	</div>
</div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1608405829223 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-top vc_row-flex"><div class="credito_grafico_rosquinha wpb_column vc_column_container vc_col-sm-2 vc_col-xs-6"><div class="vc_column-inner vc_custom_1608408019542"><div class="wpb_wrapper">
<div class="vc_chart vc_round-chart wpb_content_element vc_custom_1608410395846 creditos_itens" data-vc-animation="easeInOutCubic" data-vc-stroke-color="#ffffff" data-vc-type="doughnut" data-vc-values="[{&quot;value&quot;:1,&quot;color&quot;:&quot;#d7d7d7&quot;,&quot;highlight&quot;:&quot;#bdbdbd&quot;,&quot;label&quot;:&quot;50%&quot;},{&quot;value&quot;:99,&quot;color&quot;:&quot;#ebebeb&quot;,&quot;highlight&quot;:&quot;#dcdcdc&quot;,&quot;label&quot;:&quot;&quot;}]">
	<h2 class="wpb_heading">01</h4>
	<div class="wpb_wrapper">
		<canvas class="vc_round-chart-canvas" width="1" height="1"></canvas>
	</div>
</div>
<h2 style="font-size: 20px;color: #19182a;line-height: 20px;text-align: center" class="vc_custom_heading font-weight-bold letter-spacing-0 vc_custom_1608345972551" ></h2></div></div></div><div class="creditos_adicao wpb_column vc_column_container vc_col-sm-2"><div class="vc_column-inner vc_custom_1608327750109"><div class="wpb_wrapper"><h2 style="font-size: 70px;color: #878787;line-height: 20px;text-align: center" class="vc_custom_heading font-weight-bold letter-spacing-0 vc_custom_1608344660439" >a</h2></div></div></div><div class="credito_grafico_rosquinha wpb_column vc_column_container vc_col-sm-2 vc_col-xs-6"><div class="vc_column-inner vc_custom_1608408940849"><div class="wpb_wrapper">
<div class="vc_chart vc_round-chart wpb_content_element vc_custom_1608410430295 creditos_itens" data-vc-animation="easeInOutCubic" data-vc-stroke-color="#ffffff" data-vc-type="doughnut" data-vc-values="[{&quot;value&quot;:24,&quot;color&quot;:&quot;#d7d7d7&quot;,&quot;highlight&quot;:&quot;#bdbdbd&quot;,&quot;label&quot;:&quot;50%&quot;},{&quot;value&quot;:76,&quot;color&quot;:&quot;#ebebeb&quot;,&quot;highlight&quot;:&quot;#dcdcdc&quot;,&quot;label&quot;:&quot;&quot;}]">
	<h2 class="wpb_heading">24</h4>
	<div class="wpb_wrapper">
		<canvas class="vc_round-chart-canvas" width="1" height="1"></canvas>
	</div>
</div>
<h2 style="font-size: 20px;color: #19182a;line-height: 20px;text-align: center" class="vc_custom_heading font-weight-bold letter-spacing-0 vc_custom_1608344608582" >parcelas</h2></div></div></div><div class="creditos_adicao wpb_column vc_column_container vc_col-sm-2"><div class="vc_column-inner vc_custom_1608328057923"><div class="wpb_wrapper"><h2 style="font-size: 70px;color: #0d3d73;line-height: 20px;text-align: center" class="vc_custom_heading font-weight-bold letter-spacing-0 creditos_adicao vc_custom_1608344629672" >=</h2></div></div></div><div class="credito_grafico_rosquinha wpb_column vc_column_container vc_col-sm-2 vc_col-xs-6"><div class="vc_column-inner vc_custom_1608408964569"><div class="wpb_wrapper">
<div class="vc_chart vc_round-chart wpb_content_element vc_custom_1608344739926 creditos_itens" data-vc-animation="easeInOutCubic" data-vc-stroke-color="#ffffff" data-vc-type="doughnut" data-vc-values="[{&quot;value&quot;:39,&quot;color&quot;:&quot;#0d3d73&quot;,&quot;highlight&quot;:&quot;#0a6631&quot;,&quot;label&quot;:&quot;&quot;},{&quot;value&quot;:50,&quot;color&quot;:&quot;#ebebeb&quot;,&quot;highlight&quot;:&quot;#dcdcdc&quot;,&quot;label&quot;:&quot;&quot;}]">
	<h2 class="wpb_heading">1,39%</h4>
	<div class="wpb_wrapper">
		<canvas class="vc_round-chart-canvas" width="1" height="1"></canvas>
	</div>
</div>
<h2 style="font-size: 20px;color: #19182a;line-height: 20px;text-align: center" class="vc_custom_heading font-weight-bold letter-spacing-0 vc_custom_1608344761065" >juros ao mês*</h2></div></div></div><div class="wpb_column vc_column_container vc_col-sm-2 vc_col-has-fill"><div class="vc_column-inner vc_custom_1537337631921"><div class="wpb_wrapper"><div class="vc_empty_space"   style="height: 50px"><span class="vc_empty_space_inner"></span></div></div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1608352374174 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-top vc_row-flex"><div class="credito_grafico_rosquinha wpb_column vc_column_container vc_col-sm-2 vc_col-xs-6"><div class="vc_column-inner vc_custom_1608409013032"><div class="wpb_wrapper">
<div class="vc_chart vc_round-chart wpb_content_element vc_custom_1608410458412 creditos_itens" data-vc-animation="easeInOutCubic" data-vc-stroke-color="#ffffff" data-vc-type="doughnut" data-vc-values="[{&quot;value&quot;:25,&quot;color&quot;:&quot;#d7d7d7&quot;,&quot;highlight&quot;:&quot;#bdbdbd&quot;,&quot;label&quot;:&quot;50%&quot;},{&quot;value&quot;:75,&quot;color&quot;:&quot;#ebebeb&quot;,&quot;highlight&quot;:&quot;#dcdcdc&quot;,&quot;label&quot;:&quot;&quot;}]">
	<h2 class="wpb_heading">25</h4>
	<div class="wpb_wrapper">
		<canvas class="vc_round-chart-canvas" width="1" height="1"></canvas>
	</div>
</div>
<h2 style="font-size: 20px;color: #19182a;line-height: 20px;text-align: center" class="vc_custom_heading font-weight-bold letter-spacing-0 vc_custom_1608345972551" ></h2></div></div></div><div class="creditos_adicao wpb_column vc_column_container vc_col-sm-2"><div class="vc_column-inner vc_custom_1608327750109"><div class="wpb_wrapper"><h2 style="font-size: 70px;color: #878787;line-height: 20px;text-align: center" class="vc_custom_heading font-weight-bold letter-spacing-0 vc_custom_1608344660439" >a</h2></div></div></div><div class="credito_grafico_rosquinha wpb_column vc_column_container vc_col-sm-2 vc_col-xs-6"><div class="vc_column-inner vc_custom_1608409033626"><div class="wpb_wrapper">
<div class="vc_chart vc_round-chart wpb_content_element vc_custom_1608410494754 creditos_itens" data-vc-animation="easeInOutCubic" data-vc-stroke-color="#ffffff" data-vc-type="doughnut" data-vc-values="[{&quot;value&quot;:36,&quot;color&quot;:&quot;#d7d7d7&quot;,&quot;highlight&quot;:&quot;#bdbdbd&quot;,&quot;label&quot;:&quot;50%&quot;},{&quot;value&quot;:64,&quot;color&quot;:&quot;#ebebeb&quot;,&quot;highlight&quot;:&quot;#dcdcdc&quot;,&quot;label&quot;:&quot;&quot;}]">
	<h2 class="wpb_heading">36</h4>
	<div class="wpb_wrapper">
		<canvas class="vc_round-chart-canvas" width="1" height="1"></canvas>
	</div>
</div>
<h2 style="font-size: 20px;color: #19182a;line-height: 20px;text-align: center" class="vc_custom_heading font-weight-bold letter-spacing-0 vc_custom_1608344608582" >parcelas</h2></div></div></div><div class="creditos_adicao wpb_column vc_column_container vc_col-sm-2"><div class="vc_column-inner vc_custom_1608328057923"><div class="wpb_wrapper"><h2 style="font-size: 70px;color: #0d3d73;line-height: 20px;text-align: center" class="vc_custom_heading font-weight-bold letter-spacing-0 creditos_adicao vc_custom_1608344629672" >=</h2></div></div></div><div class="credito_grafico_rosquinha wpb_column vc_column_container vc_col-sm-2 vc_col-xs-6"><div class="vc_column-inner vc_custom_1608409058498"><div class="wpb_wrapper">
<div class="vc_chart vc_round-chart wpb_content_element vc_custom_1608352530086 creditos_itens" data-vc-animation="easeInOutCubic" data-vc-stroke-color="#ffffff" data-vc-type="doughnut" data-vc-values="[{&quot;value&quot;:49,&quot;color&quot;:&quot;#0d3d73&quot;,&quot;highlight&quot;:&quot;#0a6631&quot;,&quot;label&quot;:&quot;&quot;},{&quot;value&quot;:50,&quot;color&quot;:&quot;#ebebeb&quot;,&quot;highlight&quot;:&quot;#dcdcdc&quot;,&quot;label&quot;:&quot;&quot;}]">
	<h2 class="wpb_heading">1,49%</h4>
	<div class="wpb_wrapper">
		<canvas class="vc_round-chart-canvas" width="1" height="1"></canvas>
	</div>
</div>
<h2 style="font-size: 20px;color: #19182a;line-height: 20px;text-align: center" class="vc_custom_heading font-weight-bold letter-spacing-0 vc_custom_1608344761065" >juros ao mês*</h2></div></div></div><div class="wpb_column vc_column_container vc_col-sm-2 vc_col-has-fill"><div class="vc_column-inner vc_custom_1537337631921"><div class="wpb_wrapper"><div class="vc_empty_space"   style="height: 50px"><span class="vc_empty_space_inner"></span></div></div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1608352374174 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-top vc_row-flex"><div class="credito_grafico_rosquinha wpb_column vc_column_container vc_col-sm-2 vc_col-xs-6"><div class="vc_column-inner vc_custom_1608409119828"><div class="wpb_wrapper">
<div class="vc_chart vc_round-chart wpb_content_element vc_custom_1608410526645 creditos_itens" data-vc-animation="easeInOutCubic" data-vc-stroke-color="#ffffff" data-vc-type="doughnut" data-vc-values="[{&quot;value&quot;:37,&quot;color&quot;:&quot;#d7d7d7&quot;,&quot;highlight&quot;:&quot;#bdbdbd&quot;,&quot;label&quot;:&quot;50%&quot;},{&quot;value&quot;:63,&quot;color&quot;:&quot;#ebebeb&quot;,&quot;highlight&quot;:&quot;#dcdcdc&quot;,&quot;label&quot;:&quot;&quot;}]">
	<h2 class="wpb_heading">37</h4>
	<div class="wpb_wrapper">
		<canvas class="vc_round-chart-canvas" width="1" height="1"></canvas>
	</div>
</div>
<h2 style="font-size: 20px;color: #19182a;line-height: 20px;text-align: center" class="vc_custom_heading font-weight-bold letter-spacing-0 vc_custom_1608345972551" ></h2></div></div></div><div class="creditos_adicao wpb_column vc_column_container vc_col-sm-2"><div class="vc_column-inner vc_custom_1608327750109"><div class="wpb_wrapper"><h2 style="font-size: 70px;color: #878787;line-height: 20px;text-align: center" class="vc_custom_heading font-weight-bold letter-spacing-0 vc_custom_1608344660439" >a</h2></div></div></div><div class="credito_grafico_rosquinha wpb_column vc_column_container vc_col-sm-2 vc_col-xs-6"><div class="vc_column-inner vc_custom_1608409142166"><div class="wpb_wrapper">
<div class="vc_chart vc_round-chart wpb_content_element vc_custom_1608410558481 creditos_itens" data-vc-animation="easeInOutCubic" data-vc-stroke-color="#ffffff" data-vc-type="doughnut" data-vc-values="[{&quot;value&quot;:48,&quot;color&quot;:&quot;#d7d7d7&quot;,&quot;highlight&quot;:&quot;#bdbdbd&quot;,&quot;label&quot;:&quot;50%&quot;},{&quot;value&quot;:52,&quot;color&quot;:&quot;#ebebeb&quot;,&quot;highlight&quot;:&quot;#dcdcdc&quot;,&quot;label&quot;:&quot;&quot;}]">
	<h2 class="wpb_heading">48</h4>
	<div class="wpb_wrapper">
		<canvas class="vc_round-chart-canvas" width="1" height="1"></canvas>
	</div>
</div>
<h2 style="font-size: 20px;color: #19182a;line-height: 20px;text-align: center" class="vc_custom_heading font-weight-bold letter-spacing-0 vc_custom_1608344608582" >parcelas</h2></div></div></div><div class="creditos_adicao wpb_column vc_column_container vc_col-sm-2"><div class="vc_column-inner vc_custom_1608328057923"><div class="wpb_wrapper"><h2 style="font-size: 70px;color: #0d3d73;line-height: 20px;text-align: center" class="vc_custom_heading font-weight-bold letter-spacing-0 creditos_adicao vc_custom_1608344629672" >=</h2></div></div></div><div class="credito_grafico_rosquinha wpb_column vc_column_container vc_col-sm-2 vc_col-xs-6"><div class="vc_column-inner vc_custom_1608409177258"><div class="wpb_wrapper">
<div class="vc_chart vc_round-chart wpb_content_element vc_custom_1608352623572 creditos_itens" data-vc-animation="easeInOutCubic" data-vc-stroke-color="#ffffff" data-vc-type="doughnut" data-vc-values="[{&quot;value&quot;:79,&quot;color&quot;:&quot;#0d3d73&quot;,&quot;highlight&quot;:&quot;#0a6631&quot;,&quot;label&quot;:&quot;&quot;},{&quot;value&quot;:50,&quot;color&quot;:&quot;#ebebeb&quot;,&quot;highlight&quot;:&quot;#dcdcdc&quot;,&quot;label&quot;:&quot;&quot;}]">
	<h2 class="wpb_heading">1,79%</h4>
	<div class="wpb_wrapper">
		<canvas class="vc_round-chart-canvas" width="1" height="1"></canvas>
	</div>
</div>
<h2 style="font-size: 20px;color: #19182a;line-height: 20px;text-align: center" class="vc_custom_heading font-weight-bold letter-spacing-0 vc_custom_1608344761065" >juros ao mês*</h2></div></div></div><div class="wpb_column vc_column_container vc_col-sm-2 vc_col-has-fill"><div class="vc_column-inner vc_custom_1537337631921"><div class="wpb_wrapper"><div class="vc_empty_space"   style="height: 50px"><span class="vc_empty_space_inner"></span></div></div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1608329862410"><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner vc_custom_1538802162295"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element  vc_custom_1608344170856" >
		<div class="wpb_wrapper">
			<p style="text-align: left; color: #929292; font-size: 14px;"><em>Clique nas perguntas para mais informações</em></p>

		</div>
	</div>
<div class="radiantthemes-accordion element-two   vc_custom_1608411193767 rt1248748975"  ><div class="radiantthemes-accordion-item "><div class="radiantthemes-accordion-item-title"><div class="radiantthemes-accordion-item-title-icon"><i class="main-icon"></i></div><h4 class="panel-title">QUANDO pode ser solicitado?</h4></div><div class="radiantthemes-accordion-item-body"></p>
<p style="text-align: left;">Você pode solicitar após o 1º desconto da Cota de Capital em folha de pagamento, mas se estiver cumprindo os 6 meses de experiência, inscrito ou não como Cooperado, precisa aguardar o término do prazo para pedir o empréstimo.</p>
<p></div></div><div class="radiantthemes-accordion-item "><div class="radiantthemes-accordion-item-title"><div class="radiantthemes-accordion-item-title-icon"><i class="main-icon"></i></div><h4 class="panel-title">Em quantas vezes pode ser pago?</h4></div><div class="radiantthemes-accordion-item-body"></p>
<p style="text-align: left;">Em até 48 meses, com desconto em folha de pagamento.</p>
<p></div></div><div class="radiantthemes-accordion-item "><div class="radiantthemes-accordion-item-title"><div class="radiantthemes-accordion-item-title-icon"><i class="main-icon"></i></div><h4 class="panel-title">QUANTO pode ser solicitado?</h4></div><div class="radiantthemes-accordion-item-body"></p>
<p style="text-align: left;">Até 2 (duas) vezes o salário no primeiro ano de vínculo empregatício e após esse período o limite passa a ser 4 (quatro) vezes o salário percebido na empresa.</p>
<p style="text-align: left;">Exemplo:</p>
<p>• Salário de R$ 1.000,00</p>
<p>• Saldo Capital de R$ 250,00</p>
<p>• Limite no 1º ano de vínculo empregatício = R$ 2.000,00</p>
<p>• Limite após 1 ano de vínculo empregatício = R$ 4.000,00</p>
<p>• De acordo com o seu capital integralizado, precisará completar a diferença integralizando R$ 150,00 se solicitar R$ 2.000,00 e se solicitando R$ 4.000,00 precisará completar a diferença integralizando R$ 550,00 por meio da folha de pagamento, ou através de depósito em conta corrente.</p>
<p>O valor das parcelas não pode ultrapassar 30% do salário aos Cooperados</div></div><div class="radiantthemes-accordion-item "><div class="radiantthemes-accordion-item-title"><div class="radiantthemes-accordion-item-title-icon"><i class="main-icon"></i></div><h4 class="panel-title">Qual a taxa de juros dos empréstimos?</h4></div><div class="radiantthemes-accordion-item-body"></p>
<p style="text-align: left;">A taxa varia de acordo com o número de parcelas solicitadas, conforme tabela abaixo:</p>
<table style="background-color: #f3f3f3; margin-bottom: 15px;">
<tbody>
<tr style="background-color: #0d3d73;">
<td style="color: #fff; text-align: center; border: solid 1px #fff;">Parcelas</td>
<td style="color: #fff; text-align: center; border: solid 1px #fff;">Juros</td>
</tr>
<tr>
<td style="padding: 2px 7px; border: solid 1px #fff;">01 a 24</td>
<td style="padding: 2px 7px; border: solid 1px #fff;">1,39%* ao mês</td>
</tr>
<tr>
<td style="padding: 2px 7px; border: solid 1px #fff;">25 a 36</td>
<td style="padding: 2px 7px; border: solid 1px #fff;">1,49%* ao mês</td>
</tr>
<tr>
<td style="padding: 2px 7px; border: solid 1px #fff;">37 a 48</td>
<td style="padding: 2px 7px; border: solid 1px #fff;">1,79%* ao mês</td>
</tr>
</tbody>
</table>
<p style="text-align: left;"><em>(*) Calculados sobre o saldo devedor, através do sistema SAC &#8211; Sistema de Amortização Constante, com prestações decrescentes.</em></p>
<p></div></div><div class="radiantthemes-accordion-item "><div class="radiantthemes-accordion-item-title"><div class="radiantthemes-accordion-item-title-icon"><i class="main-icon"></i></div><h4 class="panel-title">Quanto tempo leva para ser liberado?</h4></div><div class="radiantthemes-accordion-item-body"></p>
<p style="text-align: left;">O contrato recebido até o dia 10 de cada mês será liberado em folha de pagamento no último dia útil do próprio mês e a 1ª parcela será descontada na folha de pagamento do mês seguinte.</p>
<p style="text-align: left;">Com disponibilidade de capital, podemos liberar o empréstimo em conta corrente, em até 3 (três) dias após a solicitação, já com o contrato eletrônico assinado e a análise do NBS. Porém o cooperado precisa ter contribuído com 20% do valor solicitado no empréstimo.</p>
<p></div></div><div class="radiantthemes-accordion-item "><div class="radiantthemes-accordion-item-title"><div class="radiantthemes-accordion-item-title-icon"><i class="main-icon"></i></div><h4 class="panel-title">O que o capital interfere na liberação do empréstimo?</h4></div><div class="radiantthemes-accordion-item-body"></p>
<p style="text-align: left;">Você precisa ter pelo menos 20% do valor solicitado no empréstimo já integralizado na Judcred. Caso ainda não tenha o valor, deve integralizar a diferença que falta.</p>
<p style="text-align: left;">Empréstimos em folha de pagamento: o crédito do empréstimo, assim como débito da integralização, são feitos na folha.</p>
<p style="text-align: left;">Liberação de Imediato: A Judcred informa ao Cooperado o valor e a conta para deposito da integralização e o crédito do empréstimo será feito no próximo dia útil, em conta corrente.</p>
<p></div></div><div class="radiantthemes-accordion-item "><div class="radiantthemes-accordion-item-title"><div class="radiantthemes-accordion-item-title-icon"><i class="main-icon"></i></div><h4 class="panel-title">Como solicitar?</h4></div><div class="radiantthemes-accordion-item-body"></p>
<p style="text-align: left;">O cooperado poderá acessar o link do FacWeb via <a href="https://wscredjudcred.facilinformatica.com.br/facweb/">https://wscredjudcred.facilinformatica.com.br/facweb/</a> ou baixar o aplicativo Judcred pelo seu celular.</p>
<p style="text-align: left;">Através desses acessos é possível verificar seu limite, fazer a simulação de parcelas e solicitar o seu empréstimo de forma rápida e segura.</p>
<p style="text-align: left;">Ou através da Central de Atendimento pelo telefone: (11) 5102-1849, selecionando a opção 1 ou e-mail: <a href="mailto:contato@judcredcoop.com.br">contato@judcredcoop.com.br</a></p>
<p></div></div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner vc_custom_1537258132518"><div class="wpb_wrapper"></div></div></div></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div></section><div class="vc_row-full-width vc_clearfix"></div>
	</div><!-- .entry-content -->
</article><!-- #post-8768 -->
				</div>
					</main><!-- #main -->
	</div><!-- #primary -->


			</div>
			<!-- #content -->
		</div>
		<!-- #page -->




			<%- include('partials/footer.html') %>