<%- include('partials/header.html') %>
	
									<!-- wraper_header_bannerinner -->
								<div class="wraper_inner_banner">
									<!-- wraper_inner_banner_main -->
				<div class="wraper_inner_banner_main">
					<div class="container">
						<!-- row -->
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<!-- inner_banner_main -->
								<div class="inner_banner_main">
																											<p class="title">
											LGPD									</p>
																																		</div>
								<!-- inner_banner_main -->
							</div>
						</div>
						<!-- row -->
					</div>
				</div>
				<!-- wraper_inner_banner_main -->
										<!-- wraper_inner_banner_breadcrumb -->
				<div class="wraper_inner_banner_breadcrumb">
					<div class="container">
						<!-- row -->
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<!-- inner_banner_breadcrumb -->
								<div class="inner_banner_breadcrumb">
									<div id="crumbs"><a href="/">Início</a> <span class="gap"><i class="el el-chevron-right"></i></span> <span class="current">LGPD</span></div>							</div>
								<!-- inner_banner_breadcrumb -->
							</div>
						</div>
						<!-- row -->
					</div>
				</div>
				<!-- wraper_inner_banner_breadcrumb -->
						</div>
			<!-- wraper_header_bannerinner -->
	<!-- wraper_header_bannerinner -->
	
	
			<!-- #page -->
		<div id="page" class="site">
			<!-- #content -->
			<div id="content" class="site-content">
<br /><br /> 
	<div id="primary" class="content-area">
		<main id="main" class="site-main">
							<div class="container page-container">
					
<article id="post-9450" class="post-9450 page type-page status-publish hentry">
	<header class="entry-header">
			</header><!-- .entry-header -->
	<div class="entry-content">
		<section id="downloads_pagina" data-vc-full-width="true" data-vc-full-width-init="false" class="vc_section vc_custom_1608527416746"><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1608530799269"><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<h3 class="titulo_home">Informações LGPD Judcred</h3>

		</div>
	</div>
	
<!-- radiantthemes-separator --><div  class="radiantthemes-separator element-one text-left "><div class="radiantthemes-separator-block" style="width: 30px ; height: 5px ; background-color: #0d3d73 ;"></div></div><!-- radiantthemes-separator -->
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper"><br />
			<p style="text-align: left;">Abaixo você pode fazer o download de todos os arquivos relacionados ao tema LGPD!</p>

		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-4">
<div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div></div>
<div class="vc_row-full-width vc_clearfix"></div>
<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1608530863894 vc_row-o-equal-height vc_row-o-content-top vc_row-flex">
<div class="wpb_column vc_column_container vc_col-sm-12">
<div class="vc_column-inner"><div class="wpb_wrapper"><br />
<div class="rt-tab element-twelve rt159806097 " ><ul class="nav-tabs"><li data-tab-icon=false class="matchHeight"><a data-toggle="tab" href="#a19c8248-ceb0-5"><span>Regulamentos</span></a></li></ul><div class="tab-content"><div id="a19c8248-ceb0-5" class="tab-pane fade"><a class="downloads_botao" style="display: none;" href="/lgpd" target="_blank" rel="noopener"><br />

	<i class="fa fa-download" aria-hidden="true"></i> LGPD</a><br />
<a class="downloads_botao" href="/public/arquivos/POLITICA-DE-COOKIES-JUDCRED-V1.pdf" target="_blank" rel="noopener"><i class="fa fa-download" aria-hidden="true"></i> Política de COOKIES</a><br />
<a class="downloads_botao" href="/public/arquivos/TERMO-DE-USO-E-CONDIÇÕES-V1.pdf" target="_blank" rel="noopener"><i class="fa fa-download" aria-hidden="true"></i> Termos de Uso</a><br />
<a class="downloads_botao" href="/public/arquivos/POLITICA-DE-PRIVACIDADE-V1.pdf" target="_blank" rel="noopener"><i class="fa fa-download" aria-hidden="true"></i> Política de Privacidade</a></div></div></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1608530799269"><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper">
	
	<br /><br /><br /><br /><br />
	
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<h3 class="titulo_home">Encarregado de dados Judcred</h3>

		</div>
	</div>
<!-- radiantthemes-separator --><div  class="radiantthemes-separator element-one text-left "><div class="radiantthemes-separator-block" style="width: 30px ; height: 5px ; background-color: #0d3d73 ;"></div></div><!-- radiantthemes-separator -->
	<div class="wpb_text_column wpb_content_element " ><br />
		<div class="wpb_wrapper">
			<p>Encarregado de Dados (DPO): <strong>Matheus Vieira Ferreira</strong></p>
<p>Contato por e-mail: <a href="mailto:protecaodedados@judcredcoop.com.br">protecaodedados@judcredcoop.com.br</a></p>
<p>Telefone de contato: (11) 3107-7744</p>

		</div>
	</div>
<h2 style="font-size: 26px;color: #000000;text-align: left" class="vc_custom_heading font-weight-bold vc_custom_1673569162035" >Registro de Ocorrências</h2>
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<p>Espaço destinado ao titular de dados. Preencha o formulário com ocorrência, o encarregado de dados entrará em contrato brevemente.</p>

		</div>
	</div>

<!-- rt-cf7 -->
<div class="radiant-contact-form rtca784d0ad097890 element-one  vc_custom_1673569435309"  ><div class="wpcf7 no-js" id="wpcf7-f9467-p9450-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
<form action="/lgpd/#wpcf7-f9467-p9450-o1" method="post" class="wpcf7-form init" aria-label="Contact form" novalidate="novalidate" data-status="init">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="9467" />
<input type="hidden" name="_wpcf7_version" value="5.7.2" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f9467-p9450-o1" />
<input type="hidden" name="_wpcf7_container_post" value="9450" />
<input type="hidden" name="_wpcf7_posted_data_hash" value="" />
<input type="hidden" name="_wpcf7_recaptcha_response" value="" />
</div>
<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="form-row">
			<p><label>Seu nome <span style="color:#db4433;">*</span></label><span class="wpcf7-form-control-wrap" data-name="Name">
				<input size="40" style="border-top: 1px solid #e0e5eb; border-right: 1px solid #e0e5eb; border-bottom: 1px solid #e0e5eb; border-left: 1px solid #e0e5eb;background-color: #ffffff; border-radius: 4px 4px 4px 4px;" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Seu Nome" value="" type="text" name="Name" /></span>
			</p>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="form-row" style="margin: 0 0 0 20px !important;">
			<p><label>E-mail <span style="color:#db4433;">*</span></label><span class="wpcf7-form-control-wrap" data-name="Email">
				<input size="40" style="border-top: 1px solid #e0e5eb; border-right: 1px solid #e0e5eb; border-bottom: 1px solid #e0e5eb; border-left: 1px solid #e0e5eb;background-color: #ffffff; border-radius: 4px 4px 4px 4px;" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Seu E-mail" value="" type="email" name="Email" /></span>
			</p>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="form-row">
			<p><label>Ocorrência <span style="color:#db4433;">*</span></label><span class="wpcf7-form-control-wrap" data-name="Ocorrencia">
				<input size="35" style="border-top: 1px solid #e0e5eb; border-right: 1px solid #e0e5eb; border-bottom: 1px solid #e0e5eb; border-left: 1px solid #e0e5eb;background-color: #ffffff; border-radius: 4px 4px 4px 4px;" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Ocorrência" value="" type="text" name="Ocorrencia" /></span>
			</p>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="form-row">
			<p><label>Sua mensagem <span style="color:#db4433;">*</span></label><span class="wpcf7-form-control-wrap" data-name="Mensagem">
				<textarea cols="40" rows="10" style="border-top: 1px solid #e0e5eb; border-right: 1px solid #e0e5eb; border-bottom: 1px solid #e0e5eb; border-left: 1px solid #e0e5eb;background-color: #ffffff; border-radius: 4px 4px 4px 4px;" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Digite aqui sua mensagem..." name="Mensagem"></textarea></span>
			</p>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="form-row last">
			<p><input class="wpcf7-form-control has-spinner wpcf7-submit custom-btn-submit" type="submit" value="Enviar mensagem" />
			</p>
		</div>
	</div>
</div><div class="wpcf7-response-output" aria-hidden="true"></div></form></div><div class="clearfix"></div></div><!-- rt-cf7 -->
<div class="vc_empty_space"   style="height: 50px"><span class="vc_empty_space_inner"></span></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="360" height="266" src="/public/images/foto_creditos.jpg" class="vc_single_image-img attachment-full" alt="" decoding="async" loading="lazy" srcset="/public/images/foto_creditos.jpg 360w, /public/images/foto_creditos-300x222.jpg 300w" sizes="(max-width: 360px) 100vw, 360px" /></div>
		</figure>
	</div>
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div></section><div class="vc_row-full-width vc_clearfix"></div>
	</div><!-- .entry-content -->
</article><!-- #post-9450 -->
				</div>
					</main><!-- #main -->
	</div><!-- #primary -->


			</div>
			<!-- #content -->
		</div>
		<!-- #page -->




			<%- include('partials/footer.html') %>