<%- include('partials/header.html') %>
	
									<!-- wraper_header_bannerinner -->
								<div class="wraper_inner_banner">
									<!-- wraper_inner_banner_main -->
				<div class="wraper_inner_banner_main">
					<div class="container">
						<!-- row -->
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<!-- inner_banner_main -->
								<div class="inner_banner_main">
																											<p class="title">
											Linha de Crédito									</p>
																																		</div>
								<!-- inner_banner_main -->
							</div>
						</div>
						<!-- row -->
					</div>
				</div>
				<!-- wraper_inner_banner_main -->
										<!-- wraper_inner_banner_breadcrumb -->
				<div class="wraper_inner_banner_breadcrumb">
					<div class="container">
						<!-- row -->
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<!-- inner_banner_breadcrumb -->
								<div class="inner_banner_breadcrumb">
									<div id="crumbs"><a href="/">Início</a> <span class="gap"><i class="el el-chevron-right"></i></span> <span class="current">Linha de Crédito</span></div>							</div>
								<!-- inner_banner_breadcrumb -->
							</div>
						</div>
						<!-- row -->
					</div>
				</div>
				<!-- wraper_inner_banner_breadcrumb -->
						</div>
			<!-- wraper_header_bannerinner -->
	<!-- wraper_header_bannerinner -->
	
	
			<!-- #page -->
		<div id="page" class="site">
			<!-- #content -->
			<div id="content" class="site-content">

	<div id="primary" class="content-area">
		<main id="main" class="site-main">
							<div class="container page-container">
					<br /> <br /> 
<article id="post-8702" class="post-8702 page type-page status-publish hentry">
	<header class="entry-header">
			</header><!-- .entry-header -->
	<div class="entry-content">
		<section data-vc-full-width="true" data-vc-full-width-init="false" class="vc_section vc_custom_1537255155054"><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1537255205684"><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<h3 class="titulo_home">Taxas de Juros atrativas</h3>

		</div>
	</div>
<!-- radiantthemes-separator --><div  class="radiantthemes-separator element-one text-left "><div class="radiantthemes-separator-block" style="width: 30px ; height: 5px ; background-color: #0d3d73;"></div></div><!-- radiantthemes-separator -->
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper"><br />
			<p style="text-align: left;">Todo Cooperado que atender ao Regimento Interno da <b>Judcred</b> pode solicitar crédito rápido e com taxas de juros menores do que as do mercado.</p><br />
<p style="text-align: left;">E também receber parte dos juros pagos sobre o empréstimo caso existam sobras. E o seu capital é corrigido anualmente em até 100% da taxa SELIC.</p>

		</div>
	</div>
<h2 style="font-size: 18px;color: #19182a;line-height: 25px;text-align: left" class="vc_custom_heading font-weight-bold letter-spacing-0 vc_custom_1608320405602" >Conheça nossas opções de empréstimos e veja a melhor para sua necessidade.<br /><br /><br /><br /></h2></div></div></div>
<div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_left">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="360" height="266" src="/public/images/foto_creditos.jpg" class="vc_single_image-img attachment-full" alt="" decoding="async" loading="lazy" srcset="/public/images/foto_creditos.jpg 360w, /public/images/foto_creditos-300x222.jpg 300w" sizes="(max-width: 360px) 100vw, 360px" /></div>
		</figure>
	</div>
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1608516783648 vc_row-o-equal-height vc_row-o-content-top vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1608557082442">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="360" height="245" src="/public/images/pag_creditos_credi_ja.jpg" class="vc_single_image-img attachment-full" alt="" decoding="async" loading="lazy" srcset="/public/images/pag_creditos_credi_ja.jpg 360w, /public/images/pag_creditos_credi_ja-300x204.jpg 300w" sizes="(max-width: 360px) 100vw, 360px" /></div>
		</figure>
	</div>
<h2 style="font-size: 20px;line-height: 30px;text-align: center" class="vc_custom_heading font-weight-semibold letter-spacing-0 vc_custom_1608517060369" >EMPRÉSTIMO CONSIGNADO</h2>
	<div class="wpb_text_column wpb_content_element  vc_custom_1608517814497" >
		<div class="wpb_wrapper">
			<p style="text-align: center;">Empréstimo rápido, fácil e seguro.</p>

		</div>
	</div>

<!-- radiantthemes-custom-button -->
<div class="radiantthemes-custom-button hover-style-one rt480740231  font-weight-medium"  data-button-direction="center" data-button-fullwidth="false" >
	<a style=" color: #ffffff; line-height: 23px; font-size: 13px;" class="radiantthemes-custom-button-main  vc_custom_1611248943083" href="/emprestimo-consignado"  title="Empréstimo Credi-já" target="_self"><div class="placeholder">Clique e conheça</div></a></div>
<!-- radiantthemes-custom-button -->


<!-- radiantthemes-custom-button -->
<div class="radiantthemes-custom-button hover-style-one rt925991914  font-weight-medium"  data-button-direction="center" data-button-fullwidth="false" ><a style=" color: #ffffff; line-height: 23px; font-size: 13px;" class="radiantthemes-custom-button-main  vc_custom_1611249231499" href="/"  title="Financiamento de Automóveis" target="_self"><div class="placeholder">Clique e conheça</div></a></div>
<!-- radiantthemes-custom-button -->
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div></section><div class="vc_row-full-width vc_clearfix"></div>
	</div><!-- .entry-content -->
</article><!-- #post-8702 -->
				</div>
					</main><!-- #main -->
	</div><!-- #primary -->


			</div>
			<!-- #content -->
		</div>
		<!-- #page -->




			<%- include('partials/footer.html') %>