<%- include('partials/header.html') %>
	
									<!-- wraper_header_bannerinner -->
								<div class="wraper_inner_banner">
									<!-- wraper_inner_banner_main -->
				<div class="wraper_inner_banner_main">
					<div class="container">
						<!-- row -->
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<!-- inner_banner_main -->
								<div class="inner_banner_main">
																											<p class="title">
											Quem somos									</p>
																																		</div>
								<!-- inner_banner_main -->
							</div>
						</div>
						<!-- row -->
					</div>
				</div>
				<!-- wraper_inner_banner_main -->
										<!-- wraper_inner_banner_breadcrumb -->
				<div class="wraper_inner_banner_breadcrumb">
					<div class="container">
						<!-- row -->
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<!-- inner_banner_breadcrumb -->
								<div class="inner_banner_breadcrumb">
									<div id="crumbs"><a href="/">Início</a> <span class="gap"><i class="el el-chevron-right"></i></span> <span class="current">Quem somos</span></div>							</div>
								<!-- inner_banner_breadcrumb -->
							</div>
						</div>
						<!-- row -->
					</div>
				</div>
				<!-- wraper_inner_banner_breadcrumb -->
						</div>
			<!-- wraper_header_bannerinner -->
	<!-- wraper_header_bannerinner -->
	
	
			<!-- #page -->
			<div id="page" class="site">
				<!-- #content -->
				<div id="content" class="site-content">
	
		<div id="primary" class="content-area">
			<main id="main" class="site-main">
								<div class="container page-container">
					<br />	
					<br />
	<article id="post-8629" class="post-8629 page type-page status-publish hentry">
		<header class="entry-header">
				</header><!-- .entry-header -->
		<div class="entry-content">
			<section class="vc_section vc_custom_1536987023569"><div class="vc_row wpb_row vc_row-fluid vc_custom_1536994102031"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner vc_custom_1536995790844"><div class="wpb_wrapper">
		<div  class="wpb_single_image wpb_content_element vc_align_left">
			
			<figure class="wpb_wrapper vc_figure">
				<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="583" height="586" src="/public/images/foto_quem_somos.jpg" class="vc_single_image-img attachment-full" alt="" decoding="async" loading="lazy" srcset="/public/images/foto_quem_somos.jpg 583w, /public/images/foto_quem_somos-298x300.jpg 298w, /public/images/foto_quem_somos-150x150.jpg 150w, /public/images/foto_quem_somos-500x503.jpg 500w" sizes="(max-width: 583px) 100vw, 583px" /></div>
			</figure>
		</div>
	</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner vc_custom_1536993680227"><div class="wpb_wrapper">
		<div class="wpb_text_column wpb_content_element  vc_custom_1608258679750" >
			<div class="wpb_wrapper">
				<h3 class="titulo_home"><span style="color: #0d3d73;">Judcred</span>, de todos para todos</h3>
	
			</div>
		</div>
	<!-- radiantthemes-separator --><div  class="radiantthemes-separator element-one text-left "><div class="radiantthemes-separator-block" style="width: 30px ; height: 5px ; background-color: #0d3d73 ;"></div></div><!-- radiantthemes-separator -->
		<div class="wpb_text_column wpb_content_element  vc_custom_1610546258686" >
			<div class="wpb_wrapper">
			<br />	<p style="text-align: left; margin-bottom: 20px; text-align: justify;">A <b>Cooperativa de Economia e Crédito Mútuo dos Funcionários do Poder Judiciário de São Paulo</b>, também conhecida por <b>Judcred</b> é uma instituição financeira sem fins lucrativos, constituída no ano outubro de 2005 por 20 servidores do Tribunal de Justiça do Estado de São Paulo, que acreditando no cooperativismo como um dos instrumentos mais eficientes para modificação do padrão socioeconômico das pessoas, aceitaram o desafio de criar a cooperativa que, com o passar dos anos, se consolidou e se tornou definitivamente uma realidade. A cooperativa atende todos os funcionários do Poder Judiciário de São Paulo.</p>
	<p style="text-align: left;">Seu objetivo é crescer junto com seus Cooperados e contribuir para que eles alcancem a estabilidade financeira, usando baixas taxas de juros.</p>
	
			</div>
		</div>
	<h2 style="font-size: 18px;line-height: 25px;text-align: left" class="vc_custom_heading font-weight-bold letter-spacing-0 vc_custom_1608264185938" >Através da ajuda e contribuição de todos, é mais fácil administrar recursos e realizar sonhos.</h2></div></div></div></div></section><section id="equipe_quem_somos" data-vc-full-width="true" data-vc-full-width-init="false" class="vc_section vc_custom_1608317763858 vc_section-has-fill"><div class="vc_row wpb_row vc_row-fluid vc_custom_1608309969939"><div class="wpb_column vc_column_container vc_col-sm-1"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div><div class="wpb_column vc_column_container vc_col-sm-10"><div class="vc_column-inner vc_custom_1536988052311"><div class="wpb_wrapper"><h2 style="font-size: 30px;line-height: 40px;text-align: center" class="vc_custom_heading font-weight-bold letter-spacing--1 vc_custom_1608259499723" >Nossa equipe</h2>
		<div class="wpb_text_column wpb_content_element  vc_custom_1608260136028" >
			<div class="wpb_wrapper">
				<p style="text-align: center;">Nossa administração é realizada por uma equipe de cooperados eleitos altamente capacitados e prontos para atender as necessidades específicas de cada associado.</p>
	
			</div>
		</div>
	</div></div></div></section><div class="vc_row-full-width vc_clearfix"></div>
		</div><!-- .entry-content -->
	</article><!-- #post-8629 -->
					</div>
						</main><!-- #main -->
		</div><!-- #primary -->
	
	
				</div>
				<!-- #content -->
			</div>
			<!-- #page -->




			<%- include('partials/footer.html') %>