<%- include('partials/header.html') %>




									<!-- wraper_header_bannerinner -->
								<div class="wraper_inner_banner">
									<!-- wraper_inner_banner_main -->
				<div class="wraper_inner_banner_main">
					<div class="container">
						<!-- row -->
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<!-- inner_banner_main -->
								<div class="inner_banner_main">
																											<p class="title">
											Vantagens & Benefícios									</p>
																																		</div>
								<!-- inner_banner_main -->
							</div>
						</div>
						<!-- row -->
					</div>
				</div>
				<!-- wraper_inner_banner_main -->
										<!-- wraper_inner_banner_breadcrumb -->
				<div class="wraper_inner_banner_breadcrumb">
					<div class="container">
						<!-- row -->
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<!-- inner_banner_breadcrumb -->
								<div class="inner_banner_breadcrumb">
									<div id="crumbs"><a href="/">Início</a> <span class="gap"><i class="el el-chevron-right"></i></span> <span class="current">Vantagens & Benefícios</span></div>							</div>
								<!-- inner_banner_breadcrumb -->
							</div>
						</div>
						<!-- row -->
					</div>
				</div>
				<!-- wraper_inner_banner_breadcrumb -->
						</div>
			<!-- wraper_header_bannerinner -->
	<!-- wraper_header_bannerinner -->
	
	
			<!-- #page -->
		<div id="page" class="site">
			<!-- #content -->
			<div id="content" class="site-content">
<br /><br />
	<div id="primary" class="content-area">
		<main id="main" class="site-main">
							<div class="container page-container">
					
<article id="post-8793" class="post-8793 page type-page status-publish hentry">
	<header class="entry-header">
			</header><!-- .entry-header -->
	<div class="entry-content">
		<section class="vc_section vc_custom_1608437196938"><div class="vc_row wpb_row vc_row-fluid vc_custom_1608437242238"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner vc_custom_1537272628275"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element  vc_custom_1608438931600" >
		<div class="wpb_wrapper">
			<h3 class="titulo_home">Pouca burocracia e muitos benefícios</h3>

		</div>
	</div>
<!-- radiantthemes-separator --><div  class="radiantthemes-separator element-one text-left "><div class="radiantthemes-separator-block" style="width: 30px ; height: 5px ; background-color: #0d3d73 ;"></div></div><!-- radiantthemes-separator -->
	<div class="wpb_text_column wpb_content_element  vc_custom_1608513813709" >
		<div class="wpb_wrapper">
			<p style="text-align: left;">Aqui você consegue as melhores condições de crédito para alcançar seus objetivos de um jeito fácil e seguro.</p>
<p style="text-align: left;">A Cooperativa pertence a todos os Cooperados e isso os ajuda a crescerem juntos.</p>	

		</div>
	</div>
</div></div></div></div></section>
<section data-vc-full-width="true" data-vc-full-width-init="false" class="vc_section vc_custom_1608570136965 vc_section-has-fill">
<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1608513662777">
<div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner vc_custom_1538742303574">
<div class="wpb_wrapper">
<h2 style="font-size: 30px;color: #131320;line-height: 40px;text-align: center" class="vc_custom_heading font-weight-bold vc_custom_1608513445194" >Descubra as vantagens e benefícios de fazer parte da Judcred</h2></div></div></div></div><br /><div class="vc_row-full-width vc_clearfix"></div><div style="padding-bottom: 15px !important;" data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid overflow-visible vc_custom_1537784874985"><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner vc_custom_1537780815053"><div class="wpb_wrapper">
<!-- fancy-text-box -->
<div class="rt-fancy-text-box element-ten  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp rt561623803 " ><div class="holder matchHeight  vc_custom_1608439536333"><div class="pic"><img width="80" height="80" src="/public/images/icon/6-2.png" class="attachment-full size-full" alt="6" decoding="async" loading="lazy" /></div><div class="data"><h3 class="title">Crédito imediato adequado às suas condições</h3><div class="clearfix"></div></div></div></div>
<!-- fancy-text-box -->
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner vc_custom_1537780829614"><div class="wpb_wrapper">
<!-- fancy-text-box -->
<div class="rt-fancy-text-box element-ten  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp rt1384084239 " ><div class="holder matchHeight  vc_custom_1608577728994"><div class="pic"><img width="80" height="80" src="/public/images/icon/ico_vantagens_taxa_menor_mercado.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div><div class="data"><h3 class="title">Taxa de juros menor do que as praticadas no mercado</h3><div class="clearfix"></div></div></div></div>
<!-- fancy-text-box -->
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner vc_custom_1537780837759"><div class="wpb_wrapper">
<!-- fancy-text-box -->
<div class="rt-fancy-text-box element-ten  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp rt985131755 " ><div class="holder matchHeight  vc_custom_1608577788112"><div class="pic"><img width="80" height="80" src="/public/images/icon/ico_vantagens_sem_taxa_abertura.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div><div class="data"><h3 class="title">Sem taxas para abertura de crédito, seguro e outros produtos</h3><div class="clearfix"></div></div></div></div>
<!-- fancy-text-box -->
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-3" ><div class="vc_column-inner"><div class="wpb_wrapper">
<!-- fancy-text-box -->
<div class="rt-fancy-text-box element-ten  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp rt1193265354 " ><div class="holder matchHeight  vc_custom_1608577825227"><div class="pic"><img width="80" height="80" src="/public/images/icon/ico_vantagens_taxa_iguais_niv_sal.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div><div class="data"><h3 class="title">Taxa de juros igual para todos os níveis salariais</h3><div class="clearfix"></div></div></div></div>
<!-- fancy-text-box -->
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div style="padding-bottom: 15px !important;" data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid overflow-visible vc_custom_1537784874985"><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner vc_custom_1537780815053"><div class="wpb_wrapper">
<!-- fancy-text-box -->
<div class="rt-fancy-text-box element-ten  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp rt1091528684 " ><div class="holder matchHeight  vc_custom_1608577871707"><div class="pic"><img width="80" height="80" src="/public/images/icon/ico_vantagens_taxa_dec.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div><div class="data"><h3 class="title">Parcelas decrescentes</h3><div class="clearfix"></div></div></div></div>
<!-- fancy-text-box -->
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner vc_custom_1537780829614"><div class="wpb_wrapper">
<!-- fancy-text-box -->
<div class="rt-fancy-text-box element-ten  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp rt905477315 " ><div class="holder matchHeight  vc_custom_1608577925639"><div class="pic"><img width="80" height="80" src="/public/images/icon/ico_vantagens_vc_esc.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div><div class="data"><h3 class="title">Você escolhe o valor que quer contribuir mensalmente, que pode ser a partir de 0,2% do salário, desde que não seja menor do que R$ 10,00</h3><div class="clearfix"></div></div></div></div>
<!-- fancy-text-box -->
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner vc_custom_1537780837759"><div class="wpb_wrapper">
<!-- fancy-text-box -->
<div class="rt-fancy-text-box element-ten  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp rt57946059 " ><div class="holder matchHeight  vc_custom_1608577976270"><div class="pic"><img width="80" height="80" src="/public/images/icon/ico_vantagens_desc_folha.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div><div class="data"><h3 class="title">Os descontos são em folha de pagamento, tanto da Cota de Capital como da Parcela de Empréstimo</h3><div class="clearfix"></div></div></div></div>
<!-- fancy-text-box -->
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper">
<!-- fancy-text-box -->
<div class="rt-fancy-text-box element-ten  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp rt1574688934 " ><div class="holder matchHeight  vc_custom_1608578047201"><div class="pic"><img width="80" height="80" src="/public/images/icon/ico_vantagens_nao_lucro.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div><div class="data"><h3 class="title">Não visamos lucro</h3><div class="clearfix"></div></div></div></div>
<!-- fancy-text-box -->
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid overflow-visible vc_custom_1537784874985"><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner vc_custom_1537780815053"><div class="wpb_wrapper">
<!-- fancy-text-box -->
<div class="rt-fancy-text-box element-ten  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp rt1973345757 " ><div class="holder matchHeight  vc_custom_1608578088874"><div class="pic"><img width="80" height="80" src="/public/images/icon/ico_vantagens_calc_selic.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div><div class="data"><h3 class="title">A remuneração de capital é calculada pela taxa SELIC</h3><div class="clearfix"></div></div></div></div>
<!-- fancy-text-box -->
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner vc_custom_1537780829614"><div class="wpb_wrapper">
<!-- fancy-text-box -->
<div class="rt-fancy-text-box element-ten  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp rt1548562038 " ><div class="holder matchHeight  vc_custom_1608578125389"><div class="pic"><img width="80" height="80" src="/public/images/icon/ico_vantagens_caso_haja.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div><div class="data"><h3 class="title">Caso haja sobras, são distribuídas entre todos os Cooperados que pagam juros sobre os empréstimos</h3><div class="clearfix"></div></div></div></div>
<!-- fancy-text-box -->
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner vc_custom_1537780837759"><div class="wpb_wrapper">
<!-- fancy-text-box -->
<div class="rt-fancy-text-box element-ten  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp rt396579850 " ><div class="holder matchHeight  vc_custom_1608578159438"><div class="pic"><img width="80" height="80" src="/public/images/icon/ico_vantagens_adm_coop.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div><div class="data"><h3 class="title">Administração dirigida e controlada pelos próprios cooperados</h3><div class="clearfix"></div></div></div></div>
<!-- fancy-text-box -->
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper">
<!-- fancy-text-box -->
<div class="rt-fancy-text-box element-ten  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp rt640276029 " ><div class="holder matchHeight  vc_custom_1608578193003"><div class="pic"><img width="80" height="80" src="/public/images/icon/ico_vantagens_atend_medida.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div><div class="data"><h3 class="title">Atendimento sob medida para você</h3><div class="clearfix"></div></div></div></div>
<!-- fancy-text-box -->
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div></section><div class="vc_row-full-width vc_clearfix"></div><section data-vc-full-width="true" data-vc-full-width-init="false" class="vc_section vc_custom_1608570353446 vc_section-has-fill"><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1608570320616"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner vc_custom_1538742303574"><div class="wpb_wrapper"><h2 style="font-size: 30px;color: #131320;line-height: 40px;text-align: center" class="vc_custom_heading font-weight-bold vc_custom_1608441968120" >Clube de Benefícios</h2>
	<div class="wpb_text_column wpb_content_element  vc_custom_1608442230296" >
		<div class="wpb_wrapper">
			<p style="text-align: center;">O associado Judcred conta com uma extensa lista de benefícios gratuitos ao se associar.</p>

		</div>
	</div>
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1608442578516"><div class="wpb_column vc_column_container vc_col-sm-2/5"><div class="vc_column-inner"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element  vc_custom_1610560591577" >
		<div class="wpb_wrapper">
			<li>Seguro de Vida por Morte;</li>
			<li>Invalidez Permanente por Acidente;</li>
			<li>Funeral Individual;</li>
			<li>Sorteios Mensais;</li>
			<li>Clube de Vantagens;</li>
			<li>Assistência Psicológica;</li>
			<li>Assistência Lar;</li>
			<li>Assistência Pet;</li>
			<li>Descontos em Farmácias.</li>
			<br />
			<p style="text-align: left; color: #929292; font-size: 14px;"><em>* Consulte o regulamento.</em></p>
		</div>	
	</div>
	
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div></section><div class="vc_row-full-width vc_clearfix"></div>
	</div><!-- .entry-content -->
	<br />
			<b>Dúvidas?</b>
			<p style="text-align: left;">Entre em contato com a <b>Central de Atendimento ao Cooperado</b> telefone <b>(11) 3107-7744</b> ou por e-mail: <a href="mailto:contato@judcredcoop.com.br">contato@judcredcoop.com.br</a></p>
</article><!-- #post-8793 -->
				</div>
					</main><!-- #main -->
	</div><!-- #primary -->


			</div>
			<!-- #content -->
		</div>
		<!-- #page -->

<br />

			<%- include('partials/footer.html') %>